<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167729693012-eqa62f6dskknm1bt7jvclfjntjc1r1d6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167729693012-eqa62f6dskknm1bt7jvclfjntjc1r1d6</string>
	<key>API_KEY</key>
	<string>AIzaSyBl6zubxoI-RmAUl2bcRpSqx898bfxpvuc</string>
	<key>GCM_SENDER_ID</key>
	<string>167729693012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ValentinHarenzhenkov.PizzaShop</string>
	<key>PROJECT_ID</key>
	<string>pizzashop-d8da7</string>
	<key>STORAGE_BUCKET</key>
	<string>pizzashop-d8da7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167729693012:ios:92a7d98630214d5a5948c1</string>
</dict>
</plist>